:root {
  --border-table-color: rgb(170, 170, 170);
}

#CourseList {
  margin-top: 40px;
  border: 1px solid var(--border-table-color);
  border-collapse: collapse;
  width: 95%;
}

#CourseList th {
  border-top: 1px solid var(--border-table-color);
  border-bottom: 1px solid var(--border-table-color);
  text-align: left;
  font-size: 18px;
}

#CourseList th[colspan="2"] {
  text-align: center;
}

#CourseList td {
  text-align: left;
}
